<launch>

  <arg name="Vehicle" default="JDB"/>
  
  <!-- Rover Sync node -->
  <node name="rover_sync" pkg="core_rover" type="rover_sync.py" />

  <!-- Driver node -->
  <node name="driver" pkg="core_rover" type="driver" output="screen"/>

  <!-- Master Discovery node -->
  <node name="master_discovery_rover" pkg="master_discovery_fkie" type="master_discovery">
    <rosparam param="robot_hosts">[thomas-Normandy]</rosparam>
    <param name="send_mcast" value="False"/>
  </node>

  <!-- Master Sync node -->
  <node name="master_sync_rover" pkg="master_sync_fkie" type="master_sync">
     <rosparam param="sync_topics">['/test/topic', '/heartbeat', '/core_rover/driver/drive_cmd', '/core_rover/req_change_mode', '/core_rover/req_change_mission', '/core_rover/connect_stream', '/base_station/gimbal_cmd', '/core_rover/camera_status', '/base_station/rjs_raw_ctrl', '/base_station/ljs_raw_ctrl', '/base_station/drill_cmd', '/core_rover/auto_status']</rosparam>
  </node>

</launch>
