<launch>

  <arg name="Vehicle" default="Simulator"/>
  
  <!-- Camera Server -->
  <include file="$(find core_rover)/launch/camera_server.launch"/> 

  <!-- Radio Monitor -->
  <include file="$(find nova_common)/launch/radio.launch"> 
    <arg name="pkg_name" value="core_rover"/>
  </include>
  
  <!-- Rover Sync node -->
  <node name="rover_sync" pkg="core_rover" type="rover_sync.py" output="screen"/>

  <!-- Driver node-->
  <node name="driver" pkg="core_rover" type="driver" output="screen" />

  <!-- Master Discovery node -->
  <node name="master_discovery_rover" pkg="master_discovery_fkie" type="master_discovery" output="screen">
    <rosparam param="robot_hosts">[thomas-Normandy]</rosparam>
    <param name="send_mcast" value="False"/>
  </node>

  <!-- Master Sync node -->
  <node name="master_sync_rover" pkg="master_sync_fkie" type="master_sync" output="screen">
     <rosparam param="sync_topics">['/test/topic','/core_rover/driver/drive_cmd']</rosparam>
  </node>

</launch>
