<launch>

  <arg name="pkg_name" default="base_station"/>

  <!-- Radio Monitor node -->    
  <node name="radio_monitor_$(arg pkg_name)" pkg="nova_common" type="radio_monitor.py" 
    output="screen">  
    
    <!-- Configure your radio authentication info as needed -->
    <rosparam>
        radio_0:
          host: '192.168.1.215'
          user: 'ubnt'
          pw:   'rover'  
          
        radio_1:  
          host: '192.168.1.201'
          user: 'ubnt'
          pw:   'rover'  
    </rosparam>    

    <param name="pkg_name" value="$(arg pkg_name)"/>
  </node>

</launch>

