<launch>

  <!--    Common base station launch file     -->  
  <include file="$(find nova_common)/launch/base_station.launch">
    <arg name="Vehicle" value="Simulator"/>
  </include>
    
  <!--    Common rover launch file     -->  
  <include file="$(find nova_common)/launch/core_rover.launch">
    <arg name="Vehicle" value="Simulator"/>
  </include>

  <node name="navigation" pkg="core_rover" type="navigation.py" output="screen" />
  <node name="auto2" pkg="core_rover" type="auto.py" output="screen" />
  <node name="sim_init" pkg="core_rover" type="sim_init" output="screen" />
    
</launch>
