<launch>

  <!--    Common base station launch file     -->  
  <include file="$(find nova_common)/launch/base_station.launch">
    <arg name="Vehicle" value="Rover"/>
  </include>
  
  <group> 

    <!--    Define the rover on board computer address and info     -->        
    <machine name="sandstorm" user="nova" address="192.168.1.199" default="true" env-loader="/home/nova/rover_ws/devel/env.sh"/>
    
    <!--    Common rover launch file     -->  
    <include file="$(find nova_common)/launch/core_rover.launch">
      <arg name="Vehicle" value="Rover"/>
    </include>
    
  </group>  
  
</launch>
